.detail-selected-image {
  width: 100%;
  margin: 10px 0px; }

.item-info {
  color: #5D5D5D; }

.item-description {
  margin: 50px 0px; }

.item-details {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #1aa9bc;
  padding-top: 20px; }
  .item-details div {
    margin-right: 50px;
    font-size: 16px;
    width: 100%; }
    .item-details div h1 {
      margin-bottom: 20px;
      font-size: 48px; }

.item-images {
  text-align: center; }

.social-media span {
  margin: 20px; }

.image-gallery-image {
  height: 350px;
  overflow: hidden; }
  .image-gallery-image img {
    width: 100%; }

.image-selector {
  background-color: white;
  border: 1px solid #1aa9bc;
  border-radius: 1px;
  display: inline-block;
  margin-top: 20px 0px;
  padding: 10px; }

.image-selector-image {
  margin: 0px 5px;
  float: left;
  padding: 6px; }
  .image-selector-image img {
    height: 50px;
    width: 50px; }

.selected {
  padding: 5px;
  border: 1px solid #c4c4c4; }

.item-contact {
  margin-top: 50px;
  display: flex;
  justify-content: center; }
  .item-contact div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: white;
    border: 1px solid #1aa9bc;
    width: 250px;
    height: 50px;
    transition: 0.3s all ease; }
    .item-contact div:hover {
      background-color: #1aa9bc;
      border-color: #5D5D5D;
      color: white; }

.modal-content {
  border-radius: 0px; }

.modal-header {
  border-bottom: 1px solid #5D5D5D; }

.modal-body {
  padding: 0px; }

.modal-footer {
  border-top: 1px solid #5D5D5D; }

.trade-modal-item {
  height: 35px;
  text-align: center;
  border-bottom: 1px solid #5D5D5D;
  line-height: 35px;
  transition: 0.1s all ease; }
  .trade-modal-item:hover {
    background-color: #1aa9bc;
    color: white; }

.selected-item {
  background-color: #1aa9bc;
  color: white; }

.trade-initiated {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
