@import '../../assets/colors.sass'

.selected-image
  margin-top: 20px

.item-info
  color: $black

.item-description
  margin: 50px 0px

.item-details
  display: flex
  justify-content: space-between

.image-selector
  background-color: white
  border: 1px solid $blue
  border-radius: 1px
  display: inline-block
  padding: 10px

.image-selector-image
  float: left
  margin: 0px 5px
  padding: 6px
  img
    height: 50px
    width: 50px

.selected
  padding: 5px
  border: 1px solid $grey
