@import '../../assets/colors.sass'

.navbar
  background-color: $beige
  color: $black
  border-radius: 0
  border-top: 0
  border-left: 0
  border-right: 0
  margin-bottom: 0

.navbar-default .navbar-nav > li > a
  color: $black

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
  background-color: $blue
  color: white
