.navbar {
  background-color: #fef9f7;
  color: #1aa9bc;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0; }

.navbar-default .navbar-nav > li > a {
  color: #1aa9bc; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #1aa9bc;
  color: white; }
