.search-bar {
  text-align: center; }
  .search-bar input {
    width: 450px;
    margin: 20px; }

.search-results {
  margin-bottom: 50px; }

.search-item {
  height: 150px;
  margin: 0px 20px;
  padding: 20px;
  color: #5D5D5D;
  background-color: white;
  border-top: 2px solid #c4c4c4;
  border-left: 2px solid #c4c4c4;
  border-right: 2px solid #c4c4c4; }
  .search-item:last-child {
    border-bottom: 2px solid #c4c4c4; }
  .search-item > div {
    height: 100%;
    display: flex;
    justify-content: space-between; }
    .search-item > div .img-container {
      height: 100%;
      width: 150px;
      float: left;
      margin-right: 100px; }
    .search-item > div img {
      height: 100%; }
    .search-item > div h4 {
      font-size: 28px;
      float: left; }
