@import './assets/colors.sass'

body
  font-family: 'Open Sans', sans-serif
  background-color: white
  margin-bottom: 60px
  color: $black

html
  position: relative
  min-height: 100%

.footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 50px
  background-color: $black
.swap-container
  min-height: 750px
  position: relative
.container
  background-color: #fff

.container-fluid
  background-color: #fff

.btn
  border-radius: 0px

.btn-primary
  background-color: $blue

.header-text
  text-align: center
  margin-bottom: 50px
  > div
    color: $black
    display: inline-block
    font-size: 32px
    border-bottom: 2px solid $blue

.loader
  height: 100%
  margin: auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  p
    margin: 50px

.form-control
  border-radius: 0px

// .btn-default.active,
// .btn-default:active,
// .open>.dropdown-toggle.btn-default,
// .btn-default:hover,
// .btn-default.active:hover,
// .btn-default.focus:hover
//   background-color: $blue
//   color: white
